<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}">Agro Bitácora</title>
    <link rel="manifest" th:href="@{/manifest.webmanifest}" type="application/manifest+json">
    <link rel="icon" type="image/webp" href="data:image/webp;base64,UklGRvB5AQBXRUJQVlA4IFSQAADwugKdASoABAAEPjEYh0OiIYnkbBABglpbtzVvL3+uZ7B3/5O2zyz/x+o3+C/3f1Js8K7b/f+5nz9PL7srLPnf+73RcXgP/o+Md61fDxyLz3uyhG/XSzfsfpN981xO+b/hv3//1fn0/weZ/xn/X9Gt9//y+t/9d+wp0DPM751Xm6b9dvX390ySb4n/7v7n60Pk/8v/gP8P/jv9p/W/cn8g+xfwP5Z/33/u/Xp+tbA/iP6zzL/lH25/Kf2T/Kf73/J/uL96f8z/weIPzB/1f8h+SHyC/iv81/x39t/a3+9ftp9Vn5fbx7N/wvQI90frH+Y/w/7w/4z5Zfv/+j6Y/bH/me4B/TP6x/vP8X+R3tueHN99/6v7U/AD/Of7t/xf8F/i/2A+nL+d/5/+F/zn7le5v8//vv/R/xn+r/bL7C/5b/Vv+D/ev81/7/9j////39x//">
    <meta name="theme-color" content="#0275d8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="/js/app.js"></script>
</head>
