<th:block th:fragment="scripts">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            if (location.pathname !== '/auth' && !localStorage.getItem('token')) {
                location.href = '/auth';
                return;
            }
            document.querySelectorAll('form.api').forEach(form => {
                form.addEventListener('submit', async e => {
                    e.preventDefault();
                    const data = Object.fromEntries(new FormData(form).entries());
                    const res = await fetch(form.action, {
                        method: form.method,
                        headers: {
                            'Content-Type': 'application/json',
                            ...(localStorage.getItem('token') ? { 'Authorization': 'Bearer ' + localStorage.getItem('token') } : {})
                        },
                        body: JSON.stringify(data)
                    });
                    if (res.ok) {
                        if (form.id === 'sign-in-form' || form.id === 'sign-up-form') {
                            const info = await res.json();
                            localStorage.setItem('token', info.token);
                            location.href = '/';
                        } else {
                            location.reload();
                        }
                    } else if (res.status === 401) {
                        localStorage.removeItem('token');
                        location.href = '/auth';
                    }
                });
            });
        });
    </script>
</th:block>
