<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(#{home.title})}"></head>
<body>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<div class="container mt-4">
  <h1 class="mb-4" th:text="#{home.title}">Agro-Bitácora</h1>
  <div class="list-group">
    <a id="menu-bill" class="list-group-item list-group-item-action menu-item d-none" th:href="@{/bill}" th:text="#{home.bills}">Bills</a>
    <a id="menu-crop" class="list-group-item list-group-item-action menu-item d-none" th:href="@{/crop}" th:text="#{home.crops}">Crops</a>
    <a id="menu-fumigation" class="list-group-item list-group-item-action menu-item d-none" th:href="@{/fumigation}" th:text="#{home.fumigation}">Fumigation</a>
    <a id="menu-irrigation" class="list-group-item list-group-item-action menu-item d-none" th:href="@{/irrigation}" th:text="#{home.irrigation}">Irrigation</a>
    <a id="menu-labor" class="list-group-item list-group-item-action menu-item d-none" th:href="@{/labor}" th:text="#{home.labor}">Labor</a>
    <a id="menu-nutrition" class="list-group-item list-group-item-action menu-item d-none" th:href="@{/nutrition}" th:text="#{home.nutrition}">Nutrition</a>
    <a id="menu-production" class="list-group-item list-group-item-action menu-item d-none" th:href="@{/production}" th:text="#{home.production}">Production</a>
    <a id="menu-balance" class="list-group-item list-group-item-action menu-item d-none" th:href="@{/balance}" >Balance</a>
    <a id="menu-weather" class="list-group-item list-group-item-action menu-item d-none" th:href="@{/weather/details}" th:text="#{home.weather}">Weather</a>
    <a id="admin-menu" class="list-group-item list-group-item-action d-none" th:href="@{/admin}" th:text="#{admin.title}">Admin</a>
  </div>
</div>
<div th:replace="~{fragments/scripts :: base-scripts}"></div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
